[init]
    defaultBranch = main
[user]
	name = applejxd
	email = 9639592+applejxd@users.noreply.github.com
[core]
	editor = vim
	;; distinguish between uppercase and lowercase
	ignorecase = false
	;; to display Japanese files
	quotepath = false
[ghq]
    root = ~/src
[gitflow "branch"]
	master = main