[init]
    defaultBranch = main
[core]
	editor = vim
	;; distinguish between uppercase and lowercase
	ignorecase = false
	;; to display Japanese files
	quotepath = false
[ghq]
    root = ~/src
[gitflow "branch"]
	master = main
[url "github:"]
	pushInstedOf = https://github.com/
