<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="avastfreeantivirus" />
  <package id="Keyhac" />
  <package id="Keypriinha" />
  <package id="Everything" />

  <package id="chocolateygui" />
  <package id="Boxstarter" />
  <package id="hackfont" />
  <package id="cascadia-code-nerd-font" />

  <package id="baffalo-nas-navigator" />
  <package id="spotify" />
  <package id="iTunes" />

  <package id="mo2" />
  <package id="vortex" />
</packages>